/* Reset CSS */
* {
    margin: 15;
    padding: 20;
    box-sizing: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #090909;
    color: #706f6ffc;
}

.container {
    width: 40%;
    margin: 30 auto;
}

header {
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 60px;
    position: static; 
    bottom: 0;
    width: 100%;
}
