@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

:root{
    --cor-de-fundo:#000000;
    --azul: #213cb5d0;
    --cinza:#9a9696;
    --botao-ativo:#201c4c;
    --botao-inativo:#100e18;
    --texto-fundo: #3a375e4d;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cinza);
    font-family: Prontest Revolution, sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px
}

.titulo-principal span{
     color:var(--azul);
}

.botao{
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--cinza);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

    border-bottom: 4px solid var(--botao-inativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;

}

.botoes{
    display: block;
}

/*Aula 03*/
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid  var(--azul);
}

@media screen and (min-width:768px){
    .botoes{
        display: flex;
    }

    .botao:first-child{
        border-radius: 40px 40px 0 0;
    }

    @media screen and (min-width: 768px){
        .botoes{
            display: flex;
        }

        .botao:first-child{
            border-radius: 40px 0 0 0;
        }

        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
    }
}