/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*parte das letras e cor das metas*/
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #948a8a;
}

/*parte do titulo*/
header {
    background-color: #000000;
    color: #6c6464;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px 0;
}

/*parte dos blocos onde ficam as metas*/
.meta {
    background-color: #100e18;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
